.background{
  background-image: url("/img/back/back-mob.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
body{
  font-family: "Manrope", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 157%;
color: #fff;
}
h2{
  font-family: "Rubik One", sans-serif;
font-weight: 400;
font-size: 32px;
color: #fff;
}
.span-one{
color: #f9c1cf;
}
@media only screen and (min-width: 1439px) {
  .background{
    background-image: url("/img/back/back-desk.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
  body{
  font-size: 16px;
  }
}