.footer {
  background: #6b1e61;
}
.footer-container{
  padding: 30px 16px;
}
.footer-navigation{
  display: flex;
  flex-direction: column;
  font-weight: 600;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 1439px) {
  .footer-container {
      padding:60px 108px;
    }
    .footer-navigation {
      display: flex;
      flex-direction: row;
      font-weight: 600;
      align-items: center;
      justify-content: flex-end;
      gap: 32px;
      margin-bottom: 50px;
} 
.footer-text{
  text-align: center;
}
}
