/* hero */
.hero-title{
  font-family: "Rubik One", sans-serif;
font-weight: 400;
font-size: 32px;
color: #fff;
margin-top: 128px;
}
.blue{
  font-size: 22px;
  color: #3289cb;
}
.purpule{
  font-size: 22px;
  color: #df7ffb;
}
.span-pink{
  font-size: 22px;
}
.hero-text{
  font-family: "Manrope", sans-serif;
font-weight: 400;
font-size: 16px;
color: #fff;
margin-top: 16px;
}
@media only screen and (min-width: 1439px) {
  .hero-img{
    margin-right: 0;
    margin-left: auto;}
  .hero-title{
  font-size: 52px;
  margin-top: -320px;
width: 496px;}
  .blue{
    font-size: 42px;}
  .purpule{
    font-size: 42px;}
  .span-one{
    font-size: 42px;}
  .hero-text{
    font-size: 20px;
    width: 496px;}
  }
  /* about */
.about-title{
  margin-bottom: 24px;
}
.about-text{
margin-bottom: 40px;
}
.about-span{
font-weight: 600;
}
.about-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-img{
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}
.tell-img{
  margin-top: 20px;
}
@media only screen and (min-width: 1439px) {
  .about-title{
    margin-top: 259px;
    margin-left: 500px;
  }
  .about-text{
     margin-left: 500px;
    }
    .about-list{
      width: 704px;
      margin-left: 500px;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 24px;
    }
    .about-item{
      width: 288px;
      height: 96px;
    }
    .tell-img{
      margin-top: -650px;
    }
}
/* How to Play */
.play-title{
  font-family: "Rubik One", sans-serif;
font-weight: 400;
font-size: 32px;
color: #fff;
margin-bottom: 40px;
}
.play-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.play-item{
  box-shadow: 12px 12px 20px 0 rgba(0, 0, 0, 0.1);
background: linear-gradient(316deg, #9b0031 0%, #200064 100%);  
border-radius: 12px;
  padding: 32px 16px;
  width: 225px;
  height: auto;
  display: flex;
    flex-direction: column;
    align-items: center;
}
.play-item-name{
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 4px;
}
.play-item-text{
  text-align: center;
}
@media only screen and (min-width: 1439px) {
  .play-title{
    margin-bottom: 60px;
  }
  .play-list{
    flex-direction: row;
    gap: 24px;
  }
  .play-item{
    height: 278px;
  }
}
/* Game Features */
.features-title{
  margin-bottom: 40px;
}
.features-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.features-list{
  display: flex;
    flex-direction: column;
    gap: 20px;
}
.features-item{
  border: 2px solid #fde4cf;
    border-radius: 12px;
    padding: 16px 24px;
    width: 343px;
    height: auto;
    box-shadow: 12px 12px 20px 0 rgba(0, 0, 0, 0.1);
      background: #0063af;
      display: flex;
      gap: 12px;
      align-items: center;
}
.features-text{
  font-size: 16px;
 }
 @media only screen and (min-width: 1439px) {
  .features-title{
    margin-bottom: 60px;
  }
  .features-container{
    flex-direction: row;
    gap: 24px;
  }
  .features-list{
    gap: 24px;
  }
  .features-item{
    width: 600px;
  }
 }
 /*  Main Characters */
 .characters-title{
margin-bottom: 40px;
 }
 .characters-list{
  display: flex;
  flex-direction: column;
  gap: 24px;
 }
 .characters-item{
  display: flex;
  align-items: center;
  gap: 16px;  
 }
 .characters-span{
  font-weight: 600;
 }
 @media only screen and (min-width: 1439px) {
  .characters-title{
    margin-bottom: 60px;
  }
  .characters-list{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 23px;
  }
  .characters-item{
    width: 392px;
      height: 120px;
  
  }
 }
 /* Game Atmosphere */
 .atmosphere-title{
  margin-bottom: 40px;
 }
 .atmosphere-span{
  font-weight: 600 
 }
 .atmosphere-text{
  margin-bottom: 40px;
 }
 .atmosphere-swiper-slide{
  cursor: pointer;
 }
 @media only screen and (min-width: 1439px) {
  .atmosphere-title {
      margin-bottom: 24px;
    }
    .atmosphere-text {
    width: 600px;
    }  
     .atmosphere-img{
      border-radius: 12px;
     }
 }