@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./footer.css');
@import url('./header.css');

.background-policy {
    background: #1c1853;
}

.policy-title {
    font-family: "Cinzel", sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-top: 60px;
    margin-bottom: 40px;
}

.text-span {
    font-weight: 700;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
    font-weight: 600;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 20px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 16px;
}

.text-color {
    color: #7aa7ff;
}

.mail-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

@media only screen and (min-width: 1439px) {
    .policy-container {
        padding-left: 212px;
        padding-right: 212px;
    }

    .policy-title {
        font-family: "Rubik One", sans-serif;
        font-weight: 400;
        font-size: 32px;
        text-align: center;
        color: #fff;
        margin-bottom: 48px;
    }

    .policy-subtitle {
        font-weight: 600;
        font-size: 20px;
    }

}